.App {
  text-align: center;
  background-image: url(https://pixabay.com/get/ga540b27da225a0f0b1e5b4a213f971d771f48d8eab171f33bd939ff6d238cde87dd170eb01f06c486654d19094c417384a4e2b9a1c3b21dba43dc2f7c0e9e102_640.jpg);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
